<?xml version="1.0"?>
<config>
    <modules>
        <EM_Em0039settings>
            <version>0.1.0</version>
        </EM_Em0039settings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <em0039>
                                            <title>Image Configure</title>
                                        </em0039>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <routers>
            <em0039settings>
                <use>standard</use>
                <args>
                    <module>EM_Em0039settings</module>
                    <frontName>em0039settings</frontName>
                </args>
            </em0039settings>
        </routers>
        <layout>
            <updates>
                <em0039settings>
                    <file>em0039settings.xml</file>
                </em0039settings>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<em0039settings>
				<use>admin</use>
				<args>
					<module>EM_Em0039settings</module>
					<frontName>em0039settings</frontName>
				</args>
			</em0039settings>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Em0039settings>
							<title>EM0039Settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0039settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0039settings>
					<file>em0039settings.xml</file>
				</em0039settings>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <em0039settings>
                <class>EM_Em0039settings_Model</class>
                <resourceModel>em0039settings_mysql4</resourceModel>
            </em0039settings>
            <em0039settings_mysql4>
                <class>EM_Em0039settings_Model_Mysql4</class>
                <entities>
                    <em0039settings>
                        <table>em0039settings</table>
                    </em0039settings>
                </entities>
            </em0039settings_mysql4>
        </models>
        <resources>
            <em0039settings_setup>
                <setup>
                    <module>EM_Em0039settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </em0039settings_setup>
            <em0039settings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </em0039settings_write>
            <em0039settings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </em0039settings_read>
        </resources>
        <blocks>
            <em0039settings>
                <class>EM_Em0039settings_Block</class>
            </em0039settings>
        </blocks>
        <helpers>
            <em0039settings>
                <class>EM_Em0039settings_Helper</class>
            </em0039settings>
        </helpers>
    </global>
	<default>
		<em0039>
			<image>
				<grid_thumb_width>188</grid_thumb_width>
				<grid_thumb_height>188</grid_thumb_height>
				<grid_thumb_bgcolor>#FFF</grid_thumb_bgcolor>
				<listing_thumb_width>188</listing_thumb_width>
				<listing_thumb_height>188</listing_thumb_height>
                <listing_thumb_bgcolor>#FFF</listing_thumb_bgcolor>
				<base_image_width>256</base_image_width>
                <base_image_height>256</base_image_height>
				<base_image_bgcolor>#FFF</base_image_bgcolor>
                <thumb_base_width>56</thumb_base_width>
				<thumb_base_height>56</thumb_base_height>
                <thumb_base_bgcolor>#FFF</thumb_base_bgcolor>
				<related_width>50</related_width>
                <related_height>50</related_height>
				<related_bgcolor>#FFF</related_bgcolor>
                <crosssell_width>75</crosssell_width>
				<crosssell_height>75</crosssell_height>
                <crosssell_bgcolor>#FFF</crosssell_bgcolor>
				<upsell_width>165</upsell_width>
                <upsell_height>160</upsell_height>
				<upsell_bgcolor>#FFF</upsell_bgcolor>
                <widget_width>155</widget_width>
				<widget_height>150</widget_height>
                <widget_bgcolor>#FFF</widget_bgcolor>
                <mostpopular_width>175</mostpopular_width>
                <mostpopular_height>150</mostpopular_height>
                <mostpopular_bgcolor>#FFF</mostpopular_bgcolor>
				<tab_width>85</tab_width>
				<tab_height>85</tab_height>
                <tab_bgcolor>#FFF</tab_bgcolor>
				<cat_one_column>5</cat_one_column>
				<cat_two_columns>4</cat_two_columns>
				<cat_three_columns>3</cat_three_columns>
				<default_cat_column_count>4</default_cat_column_count>
			</image>
		</em0039>
	</default>
</config>